body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#cv-container {
    width: 780px;
    margin: auto;
    font-weight: normal;
    border: 5px solid #7A33FF;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 4px 6px 0px #000000;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.date {
    flex: 0 0 150px;
    font-weight: bold;
    margin-right: 20px;
}

.description h3 {
    font-size: 16px;
    margin: 0;
}

.description p {
    margin: 5px 0 0;
}

header {
    background-color: #7A33FF;
    color: #F8F8F8;
    padding: 20px;
    display: flex;
    position: relative;
}

#profile-picture {
    height: 150px;
    border-radius: 0%;
    border: 5px solid #7A33FF;
    background-color: #7A33FF;
    margin-left: 200px;
    float: right: 40px;
}

#personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    width: 80%;
}

h1, h2 {
    margin: 0;
}

header h1 {
    margin-bottom: 5px;
    font-size: 24px;
    justify-content: space-between;
}

p {
    margin: 5px 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #7A33FF;
    border-bottom: 2px solid #7A33FF;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.social-logo {
    width: 40px;
    margin: 0 5px;
}

footer {
    background-color: #7A33FF;
    padding: 10px;
    text-align: center;
}

.social-logo {
    width: 40px;
    margin: 0 5px;
}


@media screen and (max-width: 800px) {
    #cv-container {
        width: 90%;
    }

    #profile-picture {
        margin-left: 0;
        margin-bottom: 20px;
    }
    header {
        align-items: center;
    }

    #personal-info h1 {
        font-size: 20px;
    }
}