header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px
	border-radius:30px;
	border:10px solid black;
}
.s1{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	border-radius: 30px;
	border: 10px;
}
