header {
	background-color: #3498db;
	color: #fff;
	text-align: center;
	padding: 20px
}
h1 {
	font-size: 36px;
}
section {
	padding: 20px;
}
h2 {
	font-size: 24px;
	color: #555;
}
footer {
	background-color: red;
	color: pink;
	text-align: center;
	padding: 10px;

}